body {
  background: rgb(255, 223, 148);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

span {
  text-align: center;
  display: block;
}

a {
  text-decoration: none;
}

.photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
